$grey: #bfbfbf;

$dark-grey: #888;

$light-grey: #e0e0e0;

$white-milk: #f6f5f4;

$blue: #5592f6;

$light-blue: rgba(16, 158, 255, 0.54);

$red: #de342f;

$dark-orange: #fc790c;

$orange: #ff9412;

$light-orange: #ffc046;

$green: #3cc75a;

$dark-blue: #2F4858;

$yellow: #fee66b;

$light-pink: #fbc3ce;

$pink: #f6a9b9;

$dark-pink: #e66a83;

$saphire: #a2dceb;

$super-light-violet: #e6e8ef;

$light-violet: #d7d2df;

$violet: #859cd2;

$primary: #7990cc;
