.lio-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  &.show {
    display: flex;
  }

  .body {
    flex: 0 0 auto;
    min-width: 25%;
    max-width: 50%;
    height: auto;
    margin: auto;
    background: white;
    padding: 16px;
    border-radius: 4px;
    .list-theme {
      padding-top: 8px;

      ol.list-agents {
          max-height: 60%;
          overflow-y: auto;
      }
    }
    .control {
      display: flex;
      justify-content: flex-end;
      font-size: 20px;
      .save {
        margin-right: 4px;
      }
    }
  }

}

#selectTheme {
  .list-theme {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    > button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      margin-right: 16px;

      &.black {
        background-color: $light-grey;
      }
      &.blue {
        background-color: $light-blue;
      }
      &.pink {
        background-color: $pink;
      }
    }
  }
}
