@media screen and (max-width: 1200px) {
    header.is-mobile {
        font-size: 16px;
        height: 50px;
        padding: 16px 10px;
    }

    .left.is-mobile {
        width: 100%;
        min-width: inherit;
        margin: 0;
    }

    .middle.is-mobile {
        margin: 0;
        > .header {
            padding: 8px;
            #dropdownMenuButton {
                padding: 4px 20px;
                font-size: 13px;
            }
            .room-tag {
                .list-tag {
                    margin-top: 5px;
                }
                .tag {
                    font-size: 12px;
                    margin-right: 3px;
                }
            }
        }
        > .body {
            > ol.chat {
                padding-left: 5px;
            }
        }
        .group-button {
            i {
                font-size: 18px;
            }
        }
        > .bottom {
            .icon-button {
                padding: 0 6px;
                font-size: 18px;
                i {
                    margin: 0 4px;
                }
            }
        }
    }

    .right.is-mobile {
        width: 100%;
        min-width: inherit;
        margin: 0;
    }

    .navigation-mobile {
        font-size: 15px;
        margin-bottom: 5px;
        color: #28699e;
        font-style: italic;
        > span {
            cursor: pointer;
        }
        i.fa-angle-left {
            margin-right: 5px;
        }
        i.fa-angle-right {
            margin-left: 5px;
        }
    }

    .message-type-info {
        width: 100%;
    }
}
