.order-create-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(30% - 16px);
    z-index: 3000;
    background-color: white;
    margin: 16px;
    margin-left: -30%;
    margin-right: 0;
    transition: .2s;

    &.show {
        margin-left: 16px;
    }
    &.show-order-create {
        .go-previous {
            position: absolute;
            font-size: 13px;
            font-style: italic;
            cursor: pointer;
            color: $blue;
            margin: 12px 16px 16px 24px;
            z-index: 10;
            transition: .2s;
            &:hover {
                font-size: 16px;
            }
        }

        .close-order-create {
            position: absolute;
            right: 0;
            font-size: 16px;
            cursor: pointer;
            margin: 16px;
            margin-top: 14px;
            z-index: 10;
            transition: .2s;
            &:hover {
                font-size: 22px;
            }
        }

        .title {
            padding: 6px;
            color: rgba(#14344b, 0.75);
            font-size: 1.2em;
            letter-spacing: -1px;
        }

        .bs-wizard {padding: 0 0 6px 0;}
        .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background: #fbe8aa; top: 26px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
        .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 8px; height: 8px; background: #fbbd19; border-radius: 50px; position: absolute; top: 6px; left: 6px; }
        .bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 4px; box-shadow: none; margin: 20px 0;}
        .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #eceeef;}
        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
        .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
        .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

        .search-product {
            position: relative;
            > .fa {
                right: 0;
                position: absolute;
                margin: 10px;
                margin-right: 14px;
                font-size: 16px;
                user-select: none;
            }

            .search-result {
                position: absolute;
                background-color: white;
                border: 1px solid rgba(11, 60, 117, 0.3);
                box-shadow: 0px 0px 6px #606060;
                border-top: none;
                border-radius: 4px;
                font-size: 16px;
                z-index: 10;
                width: 100%;
                max-height: 60vh;
                overflow-y: auto;
                overflow-x: hidden;
                user-select: none;

                .product-empty-warning {
                    font-size: 18px;
                    font-weight: bold;
                }

                .product-item {
                    padding: 5px 8px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    min-height: 90px;
                    .product-name {
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .product-price {
                        font-size: 13px;
                        font-weight: bold;
                        color: #fd6044;
                    }
                    .product-out-stock {
                        button {
                            font-size: 11px;
                        }
                    }
                    &.disabled {
                        opacity: .5;
                        cursor: not-allowed;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        box-shadow: 0px 0px 2px #545454;
                    }
                }
            }
        }

        .order-product {
            margin-left: 8px;
            margin-right: 8px;
            max-height: 72%;
            overflow-y: auto;
            overflow-x: hidden;
            .product-item {
                margin: 15px 8px;
                min-height: 90px;
                position: relative;
                &:hover {
                    .remove-product {
                        display: inline-block;
                    }
                }
                &:first-child {
                    margin-top: 16px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .product-name {
            font-weight: bold;
            font-size: 14px;
        }
        .product-price {
            user-select: none;
            font-size: 13px;
            line-height: 27px;
        }
        .product-quantity {
            user-select: none;
            font-size: 13px;
            button {
                width: 27px;
            }
            input {
                margin-left: 5px;
                margin-right: 5px;
                width: 32px;
            }
        }
        .product-total {
            user-select: none;
            font-size: 15px;
            font-weight: bold;
            color: #fd6044;
        }
        .remove-product {
            display: none;
            position: absolute;
            font-size: 14px;
            right: 0;
            top: 0;
        }

        .total-price {
            font-weight: bold;
            color: #fd6044;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .error-text {
            font-size: 13px;
            padding-bottom: 20px;
        }

        .customer-block {
            max-height: 77.5%;
            overflow-y: auto;
            overflow-x: hidden;
            color: #666666;
            .form-group {
                padding-bottom: 4px;
                font-size: 14px;
                &.affiliate {
                    margin-bottom: 0;
                    i {
                        font-size: .8em;
                    }
                }
            }
            .form-label {
                font-size: 14px;
                font-weight: bold;
                user-select: none;
                &.required:after {
                    content: ' *';
                    color: $red;
                }
            }
            .form-control-success, .form-control-danger {
                background-position: center right .9rem;
            }
            input, select, textarea {
                @include slide-input;
            }
        }

        .confirm-order-block {
            font-size: 14px;
            .block-title {
                font-size: 15px;
                color: rgba(20, 52, 75, 0.75);
                text-decoration: underline;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 8px;
            }
            .customer-info-block {
                span {
                    width: 100px;
                    font-weight: bold;
                    display: inline-block;
                    &:after {
                        content: ':';
                    }
                }
            }
            .order-info-block {
                max-height: 55%;
            }
        }
    }
}

.left.show-order-create:not(.is-mobile) {
    margin-left: calc(-25% + 16px);
}

.middle.show-order-create:not(.is-mobile) {
    width: 50%;
    margin-left: calc(30% + 16px);
}

.right.show-order-create:not(.is-mobile) {
    width: 20%;
}

.bottom-align {
    position: absolute;
    bottom: 12px;
    width: 100%;
    i {
        left: 7%;
        font-size: 1rem;
        margin-top: 1px;
        position: absolute;
    }
}
