.customer, .customer-full-info {
  padding: 10px 15px;
}
#customer-info {
    font-size: .7em;
    padding-top: 0px;
}
.take-note {
  padding: 15px;
}
.customer {
  div {
    img, p {
      vertical-align: middle;
    }

  }
  vertical-align: text-top;
  img:first-child {
    width: 100%;
    max-width: 80px;
  }

  p:first-child {
    margin-bottom: 0;
  }

  span.customer-more-info {
    font-size: 0.7em;
    opacity: 0.8;
    padding-bottom: 4px;
  }

  p:not(:first-child) {
    font-size: 0.7em;
    opacity: 0.8;
    margin-bottom: 0;
  }

}
.customer:hover{
  cursor: pointer;
}
.customer-full-info {
  font-size: 0.8em;
  i {
    font-size: 0.9em;
  }
  .info-text, a{
    padding-left: 0.7em;
  }
  li a{
    font-size: 0.8em;
    padding-left: 0.7em;
  }
}
.notes-list{
  border-top: 1px solid rgba(0, 0, 0, .10);
  overflow-y: auto;
  overflow-x: hidden;

  .note-item{
    transition: background-color .2s;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
    justify-content: space-between;
    // border-bottom: 1px solid rgba(0, 0, 0, .10);

    padding: 10px 15px;
    line-height: 1.4em;

    .note-item-content {
      font-size: .95rem;
      color: black;
      justify-content: space-around;
      .ps-type-ellipsis {
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .pr-sm {
        // width: 80%;
        // padding-right: .75rem !important;
      }
      .note-item-timestamp {
        flex-flow: column wrap;
        align-items: center;
        color: #90949c;
        font-size: 12px;

        p {
            display: inline-block;
            margin: 0;
        }
      }
    }
  }
  .note-item:hover {
    background-color: #fff;
  }
}
.take-note{
  font-size: 0.8em;
  flex-flow: column;
  align-items: center;
  bottom: 0;
  #exampleTextarea {
    overflow-y: hidden;
  }
  .save-note{
    margin-top: 10px;
    width: 100%;
    transition: opacity .2s ease-in-out 50ms;
    opacity: 1;
    z-index: 400;
  }
  .save-note:hover{
    cursor: pointer;
  }
  .press-enter{
    margin-top: 5px;
    padding-top: 3px;
    align-items: center;
  }
  .ps-color-border-gray-02 {
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
  }
  .px-tiny {
    padding: 0.25rem;
    display: flex;
    align-items: center;
  }
  .mx-tiny {
    margin-right: .25rem !important;
    margin-left: .25rem !important;
    margin-top: .25em;
  }
  .btn-toggle {
    margin-left: 5px;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
  }
  .btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
  }
  .btn-toggle.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
  }
  .btn-toggle.active:before {
    opacity: .5;
  }
  .btn-toggle.active:after {
    opacity: 1;
  }
  .btn-toggle.active {
    background-color: #29b5a8;
  }
}

.involve-agent {
    border: 1px solid black;
    padding: 0 8px;
    border-radius: 6px;
    font-size: 12px;
    margin-left: 10px;
    color: white;
    background: #5387df;
    margin-bottom: 3px;
    display: inline-flex;
}
.customer-photos {
    border-top: 1px solid rgba(0, 0, 0, .10);
    padding: 10px 15px;

    img.gutters {
        object-fit: cover;
        width: 180px;
        height: 180px;
    }
    .gutters {
        padding-bottom: 5px;

        &:nth-child(odd) {
            padding-right: 5px;
        }

        .loading-attachment {
            width: 165px;
            height: 170px;
            display: inline-flex;
            background-color: #f4f4f4;
            border: 1px solid #777777;
            border-radius: 2px;

            > .spinner {
                margin: auto;
                align-self: center;
            }
        }
    }
}
