/* Setting */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding-left: 16px;
  padding-right: 16px;
}

body {
  /* Padding top for top action menu */
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #555;
  background: #f6f6f6;

  p {
    margin-bottom: 8px;
  }
}

h1, h2 {

}

a,
a:focus {
  color: $blue;
  text-decoration: none;
}

a:hover,
a:active {
  color: $light-blue;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 16px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(to right top, #859cd2, #7aa3da, #6caae1, #5cb1e6, #48b8ea);
}

.container-chat {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  background: #f1f4f8;
  display: flex;

  .left {
    width: 25%;
    min-width: 300px;
    background-color: white;
    @import "leftbar";
    display: flex;
    flex-direction: column;
    margin: 16px;
    margin-right: 0;
  }

  .middle {
    flex-grow: 1;
    position: relative;
    background: white;
    margin: 16px;
    border-radius: 4px;

    > .header {
      position: absolute;
      height: 100px;
      top: 0;
      left: 0;
      right: 0;
      color: #555;
      align-items: center;
      padding: 16px;
      font-weight: bold;
      background-color: white;
      //background-image: linear-gradient(to right top, #859cd0, #819ecf, #7da0cf, #7aa1cd, #78a3cc);
      //background-image: linear-gradient(to right top, #1ac8b1, #00c4b9, #00c0c0, #00bbc5, #00b6c9);
      border-bottom: 1px solid $light-grey;

      > .title {
        display: flex;
        justify-content: space-between;

        > .group-button {
          display: flex;
          justify-content: flex-end;
          > button {
            text-transform: uppercase;
            margin-left: 4px;
            border: none;
            background: transparent;
            color: $primary;
            font-size: 24px;
            transition-duration: 0.4s;

            &.red {
              color: $red;
            }

            &:focus {
              outline: none;
            }

            &:hover {
              color: $light-violet;
            }

          }
        }
      }

      .list-tag {
        .tag {
          border: none;
          border-radius: 20px;
          background-color: $light-grey;
          padding: 2px 16px;
          color: #555;

          &.red {
            background-color: $pink;
            color: white;
          }

          &:first-child {
            background-color: $primary;
            color: white;
          }

          @include button-effect-white(#555);
        }
      }

    }

    > .body {
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      bottom: 50px;
      padding: 16px 0;
      overflow-y: auto;
      overflow-x: hidden;

      .chat-group {
        display: flex;
        .chat {
          background: white;
          padding: 16px 16px;
          border-radius: 4px;
          margin: 0 8px 16px 8px;
          max-width: 80%;
        }

        &.other {
          .chat {
            background: $pink;
            color: white;
          }
        }

        &.self {
          justify-content: flex-end;
          .chat {
            background-color: $super-light-violet;
          }
        }
      }

      //Setting theme
      &.black {
        .chat-group {
          &.other {
            .chat {
              background: $dark-grey;
              color: white;
            }
          }
          &.self {
            .chat {
              background-color: $super-light-violet;
            }
          }
        }

      }

      &.blue {
        .chat-group {
          &.other {
            .chat {
              background: $light-blue;
              color: white;
            }
          }
          &.self {
            .chat {
              background-color: #d2ddee;
            }
          }
        }

      }

      &.pink {
        .chat-group {
          &.other {
            .chat {
              background: $pink;
              color: white;
            }
          }
          &.self {
            .chat {
              background-color: $primary;
              color: white;
            }
          }
        }

      }

    }

    > .bottom {
      position: absolute;
      height: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid $light-grey;
      display: flex;
      align-items: center;
      padding: 0 4px;

      .accept-room {
        width: 100%;
      }
      .accept-room:hover{
        cursor: pointer;
      }

      .icon-button {
        font-size: 24px;
        padding: 0 16px;
        line-height: 30px;
        color: #1077ff;

        input[type="file"] {
          display: none;
        }
        i {
          margin: 0 8px;
          transition-duration: 0.1s;
        }

        i:hover {
          font-size: 20px;
          color: #5792ff;
        }

        i:active {
          font-size: 20px;
        }
      }

      .chat-input {
        flex-grow: 1;

        input {
          border: none;
          background: transparent;
        }
      }

      .group-button {
        a.button {
          //background: $blue;
          color: $primary;
          width: 32px;
          height: 32px;
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;

          &.send {
            padding-right: 2px;
          }
        }
      }

    }

  }

  .right {
    width: 25%;
    min-width: 300px;
    display: flex;
    margin: 16px;
    margin-left: 0;
    background: white;
    flex-direction: column;
    @import "rightbar";
  }

}