.nav-tabs {
  display: flex;
  .nav-item {
    width: 50%;
    margin-bottom: 0;
    border: transparent;

    &:first-child {
      border-right: 1px solid $light-grey;
    }
    //&:last-child {
    //  border-radius: 0 10px 10px 0;
    //  border-right: none;
    //}

    a.nav-link {
      background: #78a3cc;
      padding: 12px 8px;

      border: none;
      text-align: center;
      font-size: 16px;
      border-radius:0;
      color: #ddd;

      span.badge {
        margin-left: 8px;
        font-size: 14px;
      }

      &.active {
        color: white;
      }
    }
  }
}

.search-bar {
  margin: 8px;

  .input-group {
    background-color: $light-violet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    color: white;
  }
  .input-group input {
    background-color: $light-violet;
    border: none;
    color: white;
    border-radius: 10px;
  }
}

.tab-content {
  overflow: auto;
  flex-grow: 1;
  .tab-pane {
    .active {
      background-color: #bababa;
    }

    .unread {
      font-weight: bolder;
      color: black;
      .last-massage {
        color: black;
      }
    }
    .room-item {
      padding: 12px 8px;
      margin: 0 8px 8px;
      background-color: #f7f7f7;
      border-radius: 5px;
      display: flex;
      transition: opacity .2s ease-in-out 50ms;
      &:hover {
        background-color: #bababa;
      }

      .customer-control {
        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .room-info {
          display: flex;
          font-size: 16px;
          margin: 5px 0px 2px 0px;
        }
      }

      .customer-info {
        z-index: 1;
        align-self: flex-start;
        text-align: left;
        margin-left: 16px;
        flex-grow: 1;

        .title {
          display: flex;
          align-items: center;

          .name {
            text-transform: capitalize;
            color: black;
            justify-content: space-between;
          }

          .timer {
            font-size: 12px;
            margin-left: auto;
          }
        }

        .last-massage {
          color: $dark-grey;
          font-size: 14px;
          white-space: nowrap;
          width: 12em;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .new-message {
          font-weight: bold;
          color: rgba(215, 0, 37, 0.75);
        }

      }

      .room-tag {
        border: solid $dark-blue 1px;
        border-radius: 10px;
        text-align: center;
        background: $light-blue;
        color: white;
        border: transparent;
        padding: 4px 8px;
        margin-right: 8px;
        font-size: 14px;
      }

      .room-tag-icon {
        border: solid $dark-blue 1px;
        border-radius: 10px;
        text-align: center;
        border: transparent;
        padding: 4px 8px;
        margin-right: 8px;
        font-size: 14px;
      }
    }

  }
}